/* css reset  */
* {
    margin: 0;
    padding: 0;
}
 html{
    scroll-behavior: smooth; /* for scrolling tki contact pe koi v click kre toh wo contact wle section me chla jaye same with others*/

 }
/* CSS Variables */
:root {
    --navbar-height: 59px
}

/* navigation bar  */
#navbar {
    display: flex;
    align-items: center;
  /* position: relative;es se height width arrange ho jayega khud */
    top: 0;
    position: sticky;
}


/* navigation bar: logo and image  */
#logo {

    margin: 34px 45px;
}

#logo img {
    height: 69px;
    margin: 3px 10px;
}

/* navigation bar :list styling  */

#navbar ul {
    display: flex;
    font-family: cursive;
 
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
   
    z-index: -1;
    /* ye isliye qki pura black ho gya tha jis se li sb andr chla gya non- visible with the help of this wo upr aya and visible*/
    opacity: 0.8;/* ye background ko light krne ke liye*/
}

#navbar ul li {
    list-style: none;
    /* es se jo li me bindu bindu aata wo nahi aygea*/
    font-size: 1.3rem;

}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
  background-color: white;
}

/* home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 642px;
}

#home::before{
    content: "";
   position: absolute;
   background: url('../img2/bg4.jpg') no-repeat center center/cover;
    height: 800px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: cursive;
}
#home p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-family: cursive;
}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;

}
/* services section  */
#service{
       margin: 34px;
       display: flex;
}
#service .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 59px;
    border-radius: 28px;
    background-color: rgb(193, 203, 203);
    font-family: cursive;

}
#service .box img{
    height: 156px;
    display: block;
    margin: auto;
    
}

/* clients section  */
#client-section{
    position: relative;

}
#client-section::before{
   content: "";
   position: absolute;
   background: url('../img2/bg5.jpg') no-repeat center center/cover;
  
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity:0.3 ;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clients img{
    height: 124px;
}

/* contact section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img2/contact2.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
} 


footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
/* utility class  */

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: cursive

}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;

}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: bisque;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}